$text: #425A70;
$textDark:#234361;
$lightBlue: #DBEAF7;
$blue:#1070CA;
$textLink: #4DA8FF;
$grey:#212528;
$darkGrey: #1E1E1E;
$greyCircle:#464A4D;
$greyConsole: #808082;
$lightConsole: #A3A3A3;
$consoleLink: #14B5D0;

$tablet: 768px;
$desktop: 960px;